<div class="container">
  <form [formGroup]="listBlog" (onSubmit)="sendForm()">
    <div class="row">
      <h2>Insira o seu novo Blog aqui</h2>
      <div class="col-12 my-2">
        <label for="">Digite o nome:</label>
        <input type="text" class="form-control" formControlName="name" />
      </div>
      <div class="col-12 my-2">
        <label for="">Digite o título:</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="col-12 my-2">
        <label for="">Insira o link da imagem:</label>
        <input type="text" class="form-control" formControlName="image" />
      </div>
      <div class="col-12 my-2">
        <h4 for="blog">Digite o blog:</h4>
        <textarea
          name=""
          id="blog"
          class="form-control"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
    </div>
    <button class="btn btn-dark btn-md" [disabled]="listBlog.valid">Enviar</button>
  </form>
</div>
