<div class="container">
  <form [formGroup]="listBlog" (ngSubmit)="sendForm()">
    <div class="row">
      <h2>Insira o seu novo Blog aqui</h2>
      <div class="col-12 my-2">
        <label for="name">Digite o nome:</label>
        <input id="name" type="text" class="form-control" formControlName="name" autocomplete="off" />
      </div>
      <div class="col-12 my-2">
        <label for="title">Digite o título:</label>
        <input id="title" type="text" class="form-control" formControlName="title" />
      </div>
      <div class="col-12 my-2">
        <label for="image">Insira o link da imagem:</label>
        <input id="image" type="text" class="form-control" formControlName="linkImage" />
      </div>
      <div class="col-12 my-2">
        <h4 for="blog">Digite o blog:</h4>
        <textarea
          name=""
          id="blog"
          class="form-control"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
    </div>
    <input type="submit" class="btn btn-dark btn-md" value="Enviar" [disabled]="!listBlog.valid" />
  </form>
</div>
